body {
  background-color: #f8f9fa !important; 
}

.tarjeta-login {
  border-radius: 1rem !important;
  box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.15) !important;
  border: none;
}


.descripcion-gasto {
  font-weight: 500;
  font-size: 1rem;
}

.categoria-gasto {
  font-size: 0.9rem;
  color: #6c757d;
}

.tarjeta-estadistica.borde-rojo { 
  border-left: 5px solid #dc3545; 
}

.tarjeta-estadistica.borde-azul { 
  border-left: 5px solid #0d6efd; 
}

.tarjeta-estadistica.borde-amarillo { 
  border-left: 5px solid #ffc107; 
}

.boton-eliminar-gasto {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, visibility 0.2s;
}

.tarjeta-gasto:hover .boton-eliminar-gasto {
  visibility: visible;
  opacity: 1;
}


.altura-completa {
  min-height: 100vh;
}
.monto-gasto {
  font-size: 1.25rem;
  font-weight: 600;
  color: #dc3545;
}